.circle {
  animation: appearingCircle 0.3s;
  border-radius: 120px;
  border: solid rgba(25, 209, 255, 0.788) 10px;
  height: 70%;
  transform: rotate(360deg);
  opacity: 1;
  width: 80%;
}

@keyframes appearingCircle {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
