.circle {
  width: 80%;
  height: 70%;
  border-radius: 120px;
  border: transparent;
  border: solid green 10px;
  opacity: 1;
  animation: appearing 0.5s;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
