.game__square {
  align-items: center;
  background-color: rgba(218, 105, 0, 0.13);
  display: flex;
  //flex-grow: 1;
  height: 100px;
  justify-content: center;
  outline: grey solid;
  border: none;
  width: 100px;
}
