.x {
  width: 80%;
  height: 70%;
  border-radius: 120px;
  border: transparent;
  border: solid rgb(15, 55, 143) 10px;
  opacity: 1;
  animation: appearing 1s;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
