.rightX {
  width: 20%;
  height: 100%;
  box-sizing: border-box;

  background: linear-gradient(
    to bottom,
    rgb(51, 218, 51) 50%,
    rgba(3, 77, 3, 0.5)
  );

  transform-origin: center center;
  transform: rotate(135deg);
  position: relative;
  right: 10px;
  opacity: 1;

  animation: appearingRightPart 0.2s;
}

@keyframes appearingRightPart {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(135deg);
  }
}

.leftX {
  width: 20%;
  height: 100%;
  box-sizing: border-box;

  background: linear-gradient(
    to bottom,
    rgb(51, 218, 51) 50%,
    rgba(3, 77, 3, 0.5)
  );

  transform-origin: center center;
  transform: rotate(-135deg);
  position: relative;
  left: 10px;
  opacity: 1;
  animation: appearingLeftPart 0.2s;
}

@keyframes appearingLeftPart {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-135deg);
  }
}
